/* -*- mode: sass -*- */
@import "cutestrap/dist/scss/cutestrap";
@import "literium-highlight/styles/docco";

.markup-preview {
  overflow: auto;
}

.markup-editor {
  white-space: pre-wrap;
  overflow: auto;
}

pre > code {
  overflow: auto;
}
