/* -*- mode: sass -*- */
@import "cutestrap/dist/scss/cutestrap";
@import "literium-highlight/styles/docco";

.markup-preview {
  overflow: auto;
}

.markup-editor {
  background: transparent;
  color: $gray1;
  white-space: pre-wrap;
  overflow: auto;
}

.hljs-code {
  color: $primary;
}

pre > code {
  overflow: auto;
}
